<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body style="margin:0px;background-color: #17293B;">
<table style="width:100%;background-color: #17293B;" border="0">
  <tr>
    <td style="color:#3F90DD;height:50px;font-size: 25px; padding-left: 15px;">Cloud Judge</td>
  </tr>
  <tr>
    <td  style="text-align: center;color:white;"><h2>感谢你的注册，本次注册的验证码为：</h2></td>

  </tr>
  <tr>
    <td style="text-align: center;height:100px;">
    <span style="background-color: #03172B;color:#2D90ED;font-size:30px;padding-top:10px;padding-bottom: 10px;padding-left: 15px;padding-right: 15px;">{{ code }}</span>
	</td>
  </tr>
  <tr>
    <td style="text-align: right;color:white;">
    	<p>·请保护好你的验证码，不要告诉陌生人</p>
    	<p>·此验证码将于5分钟后失效</p>
  </tr>
</table>
</body>

</html>